@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: rgb(243, 239, 233);
  --foreground: #171717;
  scroll-behavior: smooth;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper .swiper-pagination-bullet-active {
  background-color: black;
  transform: scale(2);
  transform-origin: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  color: black;
}
